@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

@* @* <div class="alert alert-warning">
    @ViewData["Message"]
</div>
 *@
@* <div class="alert alert-success">
    @ViewBag.Message
</div>
 *@
@* <div class="alert alert-warning">
    @ViewData["Message"]
</div>
 *@

@{
    string ViewDataMSG = ViewData["Message"] as string; // Enforce Type Safety -> Requires Type Convertion => [ Strongly Type Language ]

    string ViewBagMSG = ViewBag.Message; // Cant't Enforce Type Safety -> Not Require Type Convertion
}


@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}




<h1>All Employees</h1>

<br />
<br />

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>

<br />

@if (Model.Count() > 0)
{
    <table class="mt-4 table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.IsActive)</th>
                <th>@Html.DisplayNameFor(E => E.Gender)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                @* <th>@Html.DisplayNameFor(E => E.HiringDate)</th> *@

                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@Html.DisplayFor(M => employee.Salary)</td>
                    <td>@Html.DisplayFor(M => employee.IsActive)</td>
                    <td>@employee.Gender</td>
                    <td>@Html.DisplayFor(M => employee.Email)</td>


                    <partial name="_ButtonPartial" model="@employee.Id" />

                </tr>
            }

        </tbody>

    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There Is No Employees :(</h3>
    </div>
}
